.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
