.team {
  background-color: #f5f4fa;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (max-width: 480px) {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.team-list .team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-item__member {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item__profession {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-social {
  display: flex;
  justify-content: center;
  padding: 16px 32px 30px 32px;
}

.team-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.team-social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-social__icon {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: var(--primary-white-color);
  }
}
